name: Flake checks
 
on:
  push:
    branches:
      - main
      - develop/**
  pull_request:
    branches:
      - main
  workflow_dispatch:
jobs:
  run-flake-checks:
    runs-on: ubuntu-22.04
    permissions:
      contents: read
      id-token: write
    steps:
      - uses: actions/checkout@v5
      - uses: DeterminateSystems/determinate-nix-action@v3
      - uses: DeterminateSystems/flakehub-cache-action@main
      - run: nix flake check